.todo_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  border: #6dbbe6 solid 1px;
  border-radius: 5px;
  padding: 10px 5px;
}
